<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net472" />
  <package id="Accord.Math" version="3.8.2-alpha" targetFramework="net472" />
  <package id="Accord.Statistics" version="3.8.2-alpha" targetFramework="net472" />
  <package id="Apache.Arrow" version="18.1.0" targetFramework="net472" />
  <package id="BouncyCastle.Cryptography" version="2.5.0" targetFramework="net472" />
  <package id="DynamicInterop" version="0.9.1" targetFramework="net472" />
  <package id="FSharp.Core" version="9.0.100" targetFramework="net472" />
  <package id="Google.Apis" version="1.68.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net472" />
  <package id="Google.Apis.Gmail.v1" version="1.68.0.3427" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.29.3" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.3.8" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.3.8" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.8" targetFramework="net472" />
  <package id="MathNet.Numerics" version="6.0.0-beta1" targetFramework="net472" />
  <package id="MathNet.Numerics.Data.Text" version="6.0.0-beta1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.Numerics" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Data.Analysis" version="0.22.0" targetFramework="net472" />
  <package id="Microsoft.ML" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.CpuMath" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.DataView" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.Mkl.Redist" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.ML.TimeSeries" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="MySql.Data" version="9.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="R.NET" version="1.9.0" targetFramework="net472" />
  <package id="R.NET.FSharp" version="1.9.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net472" />
  <package id="System.CodeDom" version="9.0.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="9.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.0" targetFramework="net472" />
  <package id="System.Management" version="9.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.0" targetFramework="net472" />
  <package id="System.Numerics.Tensors" version="9.0.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="9.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="ZstdSharp.Port" version="0.8.4" targetFramework="net472" />
</packages>